body {
  font-family: sans-serif;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.2rem;
}

p {
  font-size: 1.1rem;
  line-height: 1.25rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

a {
  font-size: 1.1rem;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

table {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  margin-left: 0.15rem;
  margin-right: 0.15rem;
}

tr, td {
  border: 1px solid #333;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  padding-left: 0.15rem;
  padding-right: 0.15rem;
}

td {
  min-width: 150px;
}


.container {
  padding: 1rem;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.section {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.sub-section {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

