body {
  font-family: sans-serif;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}

p {
  font-size: 1.1rem;
  line-height: 1.25rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

a {
  font-size: 1.1rem;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.container {
  padding: 1rem;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.section {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

